---
import Layout from "../layouts/Layout.astro";
import ProjectsTitle from "../components/ProjectsTitle.astro";
import ProjectTag from "../components/ProjectTag.astro";

import projects from "../projectsList.json";
---

<Layout>
    <ProjectsTitle/>
    <div class="flex flex-row overflow-x-auto gap-5 px-4 pb-8 w-full snap-x snap-mandatory 
    md:grid md:grid-cols-2 lg:grid-cols-3 md:overflow-visible md:pb-0 mt-10 sm:h-[65vh]">
        {projects.map((project) => 
            <div class="project-wrapper snap-center shrink-0 first:pl-4 last:pr-4 md:snap-align-none md:shrink project-tag-wrapper" data-type={project.type}>
                <ProjectTag name={project.name} desc={project.description} link={project.link} imgPath={project.imgPath}/>
            </div>
        )}
    </div>
</Layout>
<script>
    import { mode } from '../projects.js';

    document.addEventListener('astro:page-load', () => {
        mode.subscribe((value) => {
            const projectTags = document.querySelectorAll('.project-tag-wrapper');
            console.log(projectTags);
            projectTags.forEach((tag) => {
                const projectType = tag.getAttribute('data-type');
                const htmlTag = tag as HTMLElement;
                if (projectType === value) {
                    htmlTag.style.display = 'block';
                } else {
                    htmlTag.style.display = 'none';
                }
            });
        });
    });
</script>
