---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
export interface Props {
  name: string;
  desc: string;
  link: string;
  imgPath: string;
}

const { name, desc, link, imgPath} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projectImages/*.{jpg,png,jpeg}', { eager: true });   
if (!images[imgPath]) throw new Error(`"${imgPath}" does not exist in glob: "/src/assets/projectImages/*.{jpeg,jpg,png,gif}"`);
---

<div class="flex flex-col gap-5 rounded-lg p-5 border-2 border-gray-600 backdrop-blur-lg 
        w-[85vw] sm:w-[350px] md:w-full h-fullflex" id="tagDiv" >
    <div class="flex flex-row">
        <a
            href={link}
            target="_blank"
            class="text-xl font-semibold text-cyan-300 w-fit relative text-shadow-lg"
            >{name}</a
        >
    </div>
    <Image src={images[imgPath].default} alt={name} priority class="w-full h-54 object-cover rounded-md select-none ring-2 ring-gray-700 shadow-[0_8px_10px_-4px_rgba(0,0,0,0.8)]"/>
    <p class="text-white text-shadow-lg">{desc}</p>
</div>

<style>
    a {
        position: relative;
        z-index: 10;
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        color: #00c932;
        transform: translateX(20px);
    }
    a:hover::before {
        opacity: 1;
        transform: translateX(-20px);
    }
    a::before {
        content: ">";
        position: absolute;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
    }
    #tagDiv {
        position: relative;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        background: #1bcfa2;
        background: linear-gradient(45deg,rgba(27, 156, 207, 0.918) 20%, rgba(243, 199, 4, 0.623) 80%);
    }
    #tagDiv:hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
    }
    #tagDiv::after {
        content: "";
        display: block;
        position: absolute;
    }

</style>